#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.grid-container{
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: #444444;
  float: left;
}

.grid-item{
  display: inline-grid;
  height: 20vh;
  line-height: 20vh;
  width: 15vh;
  margin: 0.6vh;
  border-radius: 10%;
  background-color: #888888;
  z-index: auto;
}
.square{
  transition-property: transform;
  transition: transform 0.12s; 
  border-radius: 10%;
  z-index: 99;
}


.quick-pop{
  transition-property: transform;
  transition: transform 0.12s;
  transition-timing-function: ease-out;
}
.hideIncrease{
  visibility: hidden;
}
.increase{
  float: right;
  margin-top: 5vh;
  font-size: 3vh;
  height: min-content;
  width: 5vh;
  animation: fadeIncrease 1s 1;
  opacity: 0;
}
@keyframes fadeIncrease{
  from{opacity: 1; top: 10vh;}
  to{opacity: 0; top: 5vh;}

}

.score {
  float: right;
  font-size: 4vh;
  border-radius: 10%;
  background-color: #666666;
  margin: 0.5vh;
  width: min-content;
  padding: 0.5vh;
  padding-right: 2vh;
}
.innerScore
{
  margin-top: 0.5vh;
  margin-left: 0.5vh;
  border-radius: 10%;
  background-color: #333333;
}